<!--
  Creiamo un gioco di abilità

  Struttura: Component padre che contiene un nuovo component figlio.
  Il component figlio gestisce e mostra a video, in un H1, un numero intero che viene incrementato di 1 ogni 50 ms.
  Nel figlio è presente anche un bottone che interrompe questo counter e invia il numero al padre.
  Se si riesce a inviare il numero 20, si vince.

  Consiglio:
  per fare in modo di incrementare un numero ogni X ms, si usa la funzione:

  let intervallo = setInterval(() => {
    // chiamata ogni X ms
  }, X); //Il secondo parametro è il numero di millisecondi tra un tick e l'altro.

  setInterval restituisce un valore che può essere usato per interrompere l'interval:
  clearInterval(intervallo);
  nel component figlio, è possibile far partire il counter nel metodo costruttore.

  ES:
    export class ChildComponent {
      counter = 0;
      interval: any;

      constructor() {
        this.interval = setInterval(() => {
          this.counter++
        }, 100);
      }

      buttonClicked() {
        clearInterval(this.interval);
        // Inviare il numero al padre.
      }
    }

-->

<div class="container my-5">
  <app-child (evento)="ricevoDati($event)" (reset)="this.messaggio = ''" [stringa]="messaggio"></app-child>
</div>
