
#splash {
    margin-top: 10px;
    /* background-color: red; */
    background-image: url('../../assets/img/download.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
}
#splash::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 80%);

}
#splash H1 { 
    padding: 140px 0;
    color: #fff;
    position: relative;
    text-shadow: 3px 3px 16px rgb(0, 0, 0);
    font-size: 2.8rem;
}

.price {    
    color: rgb(255, 60, 0);
    font-weight: 600;
    font-size: 1.2rem;
    margin-bottom: 10px;
}