
<div class="container-md">
    <h1 class="mt-4">List Person</h1>
    <p class="text-muted">Lista persona interattiva</p>
    <hr>
    <div class="row"> <label for="form-select">Elementi per pagina</label> </div>
    <div class="row">
        <div class="col-3">
            <select class="form-select mt-3" [(ngModel)]="pgSelect" 
                (change)="getPeopleByPage('1', pgSelect)">
                <option value="1">Uno</option>
                <option value="2">Due</option>
                <option value="3">Tre</option>
                <option value="4">Quattro</option>
                <option value="5">Cinque</option>
                <option value="6">Sei</option>
                <option value="Pers">Personalizzato</option>
            </select>
        </div>
        <div class="col-2 mt-3" [hidden]="visPers()">
            <input type="text" class="form-control" [ngClass]="{'is-invalid': setPage.dirty && setPage.invalid }" #setPage="ngModel"
            [pattern]="pgPersValid" [(ngModel)]="pgPers" (keyup)="getPeopleByPage('1', pgPers)">
        </div>
    <div>
    <div class="row">
        <div class="col-2 mt-5">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item" [ngClass]="{'active': pagina === i.toFixed()}" 
                    *ngFor="let i of numPagineTot"><a class="page-link" (click)="setPagina(i.toFixed())">{{ i }}</a></li>
                </ul>
            </nav>
        </div>
    </div>
    
    <hr>
<!-- <ul class="pagination pagination-lg">
                <li class="page-item" [ngClass]="{'active': pagina==='1'}" >
                  <a class="page-link" (click)="setPagina('1')" (click)="getPeopleByPage('1')">1</a>
                </li>
                <li class="page-item" [ngClass]="{'active': pagina==='2'}" >
                  <a class="page-link" (click)="setPagina('2')" (click)="getPeopleByPage('2')">2</a>
                </li>
            </ul> -->
    <div class="row g-0 gy-3 my-5">
        <div class="col-4 gx-3" *ngFor="let persona of persone">
            <div class="card">
                <img [src]="persona.avatar" class="card-img-top img-fluid">
                <div class="card-body">
                  <h5 class="card-title">{{ persona.first_name }} {{ persona.last_name }}</h5>
                  <span class="badge rounded-pill bg-secondary">ID: {{ persona.id }}</span>
                  <p class="card-text">email: {{ persona.email }}</p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">
                    <a routerLink="/single/{{ persona.id }}" class="btn btn-outline-dark btn-md">Visualizza &raquo;</a>
                  </small>
                </div>
              </div>
        </div>
    </div>
    <nav>
        
    </nav>
</div>
